@import url('sidebar.css');
@import url('tarjetas.css');
@import url('gastos.css');

.card-body.p-0 {
    padding: 0 !important;
}

.card-body.p-0 .table {
    margin-bottom: 0;
}

.table th, .table td {
    vertical-align: middle;
}


.table thead th {
    background-color: #f8f9fa;
    border-bottom: 2px solid #dee2e6;
    font-weight: 500;
    color: #333;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}